<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://ru.javaboys.expoforce/menu.application.title">
        <item view="User.list" title="msg://ru.javaboys.expoforce.view.user/UserListView.title"/>
        <item view="Source.list" title="msg://ru.javaboys.expoforce.view.source/sourceListView.title"/>
        <item view="Client.list" title="msg://ru.javaboys.expoforce.view.client/clientListView.title"/>
        <item view="Product.list" title="msg://ru.javaboys.expoforce.view.product/productListView.title"/>
        <item view="TouchPoints.list" title="msg://ru.javaboys.expoforce.view.touchpoints/touchPointsListView.title"/>
        <item view="Event.list" title="msg://ru.javaboys.expoforce.view.event/eventListView.title"/>
        <item view="AdvertisingCampaign.list"
              title="msg://ru.javaboys.expoforce.view.advertisingcampaign/advertisingCampaignListView.title"/>
        <item view="AdvertisingCampaignRun.list"
              title="msg://ru.javaboys.expoforce.view.advertisingcampaignrun/advertisingCampaignRunListView.title"/>
        <item view="RecommendationSystem"
              title="msg://ru.javaboys.expoforce.view.recommendationsystem/recommendationSystem.title"/>
        <item view="Dataimport" title="msg://ru.javaboys.expoforce.view.dataimport/dataImport.title"/>
    </menu>
</menu-config>